.title, td {
  text-align: center;
}

.title table {
  margin: 0 auto;
}

.title {
  margin: 50px 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
}

.skills_wrap {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  flex-basis: 16%;
  text-align: center;
  list-style: none;
  flex-grow: 1;
  border-bottom: 1px solid #E1E1E1;
}

@media (max-width: 480px) {
  .skills {
    flex-basis: 50%;
  }
}
